# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/eagle/*.s#3
/eagle/*.s#4
/eagle/*.s#5
/eagle/*.b#2
/eagle/*.s#1
/eagle/*.b#1
/eagle/*.b#3
/eagle/*.b#4
/eagle/*.b#5
/eagle/*.b#6
/eagle/*.b#7
/eagle/*.b#8
/eagle/*.b#9
/eagle/*.s#2
